<div class="container-fluid px-5 px-sm-0">
  <div class="row graph_paper-bg">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h3 class="font-weight-bold mb-4">投稿詳細</h3>
      <div class="card-list-container">
        <div class="card shadow-lg border border-emerald rounded-4 mb-4">
          <div class="card-header d-flex align-items-center gap-3">
            <%= link_to image_tag(@post.user.get_profile_image(30,30), class:"rounded-circle"), user_path(@post.user.id) %>
            <%= link_to user_path(@post.user.id) do %>
              <h6 class="text-black"><%= @post.user.name %></h6>
            <% end %>
            <p class="fs-6-50 text-black"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(@post.created_at) %>前</p>
            <% if @post.user == current_user %>
              <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-outline-info ms-auto rounded-4" %>
              <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-outline-danger rounded-4", "data-confirm" => "本当に消しますか?" %>
            <% end %>
          </div>
          <div class="card-body">
            <p class="card-text text-dark border-bottom"><strong>日時:</strong> <%= @post.start_time.strftime('%P') == 'am' ? '午前' : '午後' %> <%= @post.start_time.strftime("%l:%M・%Y年%m月%d日") %></p>
            <p class="card-text text-dark border-bottom"><strong>タイトル:</strong> <%= @post.title %></p>
            <p class="card-text text-dark border-bottom"><strong>メニュー:</strong> <%= @post.menu %></p>
            <p class="card-text text-dark border-bottom"><strong>感想・メモ:</strong> <%= @post.body %></p>
            <% if @post.image.attached? %>
              <%= image_tag @post.get_image(300,300), class:"img-fluid object-fit-cover rounded-4 mx-auto mb-3 d-block shadow-sm" %>
            <% end %>
            <%= @post.created_at.strftime('%P') == 'am' ? '午前' : '午後' %>
            <%= @post.created_at.strftime('%l:%M・%Y年%m月%d日') %>
            <div class="d-flex align-items-center gap-3 border-top border-bottom mb-3 pt-3">
              <p class="mb-0"><i class="fa-regular fa-comment"></i>コメント数 <%= @post.post_comments.count %></p>
              <div id="favorite_buttons_<%= @post.id %>">
                <%= render "public/favorites/favorite", post: @post %>
              </div>
            </div>
            <%= form_with model: [@post, @post_comment] do |f| %>
              <%= f.text_area :comment, class: "form-control rounded-4", rows: '2', placeholder: "コメントをここに" %>
              <div class="d-flex">
                <%= f.submit "送信", class: "btn btn-sm btn-outline-secondary ms-auto mt-2 rounded-4" %>
              </div>
            <% end %>
          </div>
          <% @post.post_comments.order(created_at: :desc).each do |post_comment| %>
            <div class="card-body border">
              <div class="d-flex align-items-center gap-3">
                <%= image_tag post_comment.user.get_profile_image(30,30), class:"rounded-circle" %>
                <h6><%= post_comment.user.name %></h6>
                <p class="fs-6-50"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post_comment.created_at) %>前</p>
                <% if post_comment.user == current_user %>
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-outline-danger ms-auto rounded-4", "data-confirm" => "本当に消しますか?" %>
                <% end %>
              </div>
              <%= post_comment.comment %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>