<div class="container d-flex align-items-center justify-content-center">
  <div class="col-md-6 col-sm-10 shadow-lg rounded-4 p-4 bg-white">
    <h1 class="text-center text-muted font-weight-bold mb-4">管理者ログイン</h1>
    <p class="text-center text-muted mb-4">管理者専用アカウントにログインしてください。</p>
    <%= form_with model: @admin, url: session_path(resource_name), local: true, class: "form-signin" do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-secondary rounded-4",
        placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control border-secondary rounded-4",
        placeholder: "パスワード" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check mb-3">
          <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>
      <%= f.submit "管理者ログイン", class: "btn btn-lg btn-secondary btn-block text-white mt-3 rounded-4" %>
      <div class="text-center mt-3">
        <%= render "admin/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
