<main>
  <div class="container">
    <div class="card overflow-hidden">
      <div class="card-body p-0">
        <%= image_tag "bg-1.jpg", class:"img-fluid"%>
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-1 order-2"></div>
          <div class="col-lg-4 mt-n3 order-lg-2 order-1">
            <div class="mt-n5">
              <div class="d-flex align-items-center justify-content-center mb-2">
                <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle"
                style="width: 110px; height: 110px;">
                  <div class="border border-4 border-white d-flex align-items-center justify-content-center
                  rounded-circle overflow-hidden", style="width: 100px; height: 100px;">
                    <%= image_tag @user.get_profile_image(100,100), alt: "User Profile Image" %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="fs-5 mb-0 fw-semibold"><%= @user.name %></h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-last"></div>
        </div>
      </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
      tabindex="0">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-none border">
              <div class="card-body">
                <h4 class="fw-semibold mb-3">
                  ひとこと
                </h4>
                <p><%= @user.status_message %></p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card">
              <% @posts.each do |post| %>
                <div class="card-body border-bottom">
                  <div class="d-flex align-items-center gap-3">
                    <%= image_tag @user.get_profile_image(40,40), class:"rounded-circle" %>
                    <h6 class="fw-semibold mb-0 fs-4"><%= @user.name %></h6>
                    <span class="fs-2"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前</span>
                  </div>
                  <p class="text-dark my-3">フィットネスを行なった日：<%= post.fitness_date %></p>
                  <p class="text-dark my-3">メニュー：<%= post.menu %></p>
                  <p class="text-dark my-3">感想・メモ：<%= post.body %></p>
                  <% if post.image.attached? %>
                    <%= image_tag post.get_image(380,380), class:"img-fluid rounded-4 object-fit-cover d-block mx-auto" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>