<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="col-md-6 col-sm-10 shadow-lg rounded p-4 bg-white">
    <h1 class="text-center text-emerald font-weight-bold mb-4">ログイン</h1>
    <p class="text-center text-muted mb-4">アカウントにログインして、<br>フィットネス仲間とつながりましょう！</p>
    <%= form_with model: @user, class: "form-signin", url: user_session_path do |f| %>
      <p class="flash-message alert"><%= alert %></p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-emerald",
        placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control border-emerald",
        placeholder: "パスワード" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check mb-3">
          <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>
      <%= f.submit "ログイン", class: "btn btn-lg btn-emerald btn-block text-white mt-3" %>
      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>