<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <h2 class="font-weight-bold mb-4">プロフィール</h2>
      <div class="card-list-container">
        <div class="card border border-info rounded-2 shadow-lg mb-4">
          <div class="card-body">
            <%= image_tag @user.get_profile_image(200,200),
            class:"rounded-circle img-fluid object-fit-cover mx-auto d-block shadow-sm mt-3" %>
            <h6 class="text-center py-4 border-bottom mx-auto d-block"><strong><%= @user.name %></strong></h6>
            <p class="card-text text-center py-3"><%= @user.status_message %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user.id), class: "btn btn-outline-info btn-block" do %>
            <i class="fas fa-user-cog"></i>プロフィール編集
          <% end %>
        <% end %>
      </div>
      <div class="shadow-lg rounded px-0 my-5 bg-white">
        <h5 class="text-white bg-emerald p-4 mb-0 rounded-top">投稿フォーム</h5>
        <div class="form-body p-4">
          <%= form_with model: @post, class: "mt-3" do |f| %>
            <div class="form-group">
              <h6 class="text-dark">フィットネスを行なった日</h6>
              <%= f.date_field :fitness_date, class: "form-control border-emerald" %>
            </div>
            <div class="form-group">
              <h6 class="text-dark">メニュー</h6>
              <%= f.text_area :menu, class: "form-control border-emerald", rows: 3, placeholder: "例：ランニング 5km、スクワット 3セット" %>
            </div>
            <div class="form-group">
              <h6 class="text-dark">感想・メモ</h6>
              <%= f.text_area :body, class: "form-control border-emerald", rows: 3, placeholder: "今日のフィットネスについて記録を残しましょう" %>
            </div>
            <div class="form-group">
              <h6 class="text-dark">画像(任意)</h6>
              <%= f.file_field :image, accept: "image/*", class: "form-control border-emerald" %>
            </div>
            <hr>
            <%= f.submit '投稿', class: "btn btn-lg btn-block btn-emerald text-white mt-4" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-7 offset-md-1">
      <% if @model == 'user' %>
      
      <% elsif @model == 'post' %>
        <h2 class="font-weight-bold mb-4">投稿検索 <%= @method %> 結果一覧</h2>
        <div class="card-list-container">
          <% @posts.each do |post| %>
            <div class="card shadow-lg border border-emerald rounded-2 mb-4">
              <div class="card-header d-flex align-items-center gap-3">
                <%= link_to image_tag(post.user.get_profile_image(30,30), class:"rounded-circle"), user_path(post.user.id) %>
                <%= link_to user_path(post.user.id) do %>
                  <h6 class="text-black"><%= post.user.name %></h6>
                <% end %>
                <%= link_to post_path(post.id) do %>
                  <p class="fs-6-50 text-black"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前</p>
                <% end %>
              </div>
              <%= link_to post_path(post.id) do %>
                <div class="card-body">
                  <p class="card-text text-dark border-bottom"><strong>日付:</strong> <%= post.fitness_date.strftime("%Y年%m月%d日") %></p>
                  <p class="card-text text-dark border-bottom"><strong>メニュー:</strong> <%= post.menu %></p>
                  <p class="card-text text-dark border-bottom"><strong>感想・メモ:</strong> <%= post.body %></p>
                  <% if post.image.attached? %>
                    <%= image_tag post.get_image(200,200), class:"img-fluid object-fit-cover rounded-4 mx-auto d-block shadow-sm" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>