<% if @post.errors.any? %>
  <div class="errormessage">
    <h2><%= @post.errors.count %>件のエラーが発生しました</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row g-0 justify-content-center">
    <div class="col-md-6 col-sm-10 shadow-lg rounded px-0 my-5 bg-white">
      <h5 class="text-white bg-emerald p-4 mb-0 rounded-top">投稿フォーム</h5>
      <div class="form-body p-4">
        <%= form_with model: @post, class: "mt-3" do |f| %>
          <div class="form-group">
            <h6 class="text-dark">フィットネスを行なった日</h6>
            <%= f.date_field :fitness_date, class: "form-control border-emerald" %>
          </div>
          <div class="form-group">
            <h6 class="text-dark">メニュー</h6>
            <%= f.text_area :menu, class: "form-control border-emerald", rows: 3, placeholder: "例：ランニング 5km、スクワット 3セット" %>
          </div>
          <div class="form-group">
            <h6 class="text-dark">感想・メモ</h6>
            <%= f.text_area :body, class: "form-control border-emerald", rows: 3, placeholder: "今日のフィットネスについて記録を残しましょう" %>
          </div>
          <div class="form-group">
            <h6 class="text-dark">画像(任意)</h6>
            <%= f.file_field :image, accept: "image/*", class: "form-control border-emerald" %>
          </div>
          <hr>
          <%= f.submit '投稿', class: "btn btn-lg btn-block btn-emerald text-white mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>