<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h2 class="text-emerald font-weight-bold mb-4">投稿詳細</h2>
      <div class="card-list-container">
        <div class="card shadow-lg border-0 mb-4">
          <div class="card-header d-flex align-items-center gap-3 text-white bg-emerald">
            <%= link_to image_tag(@post.user.get_profile_image(30,30), class:"rounded-circle"), user_path(@post.user.id) %>
            <%= link_to user_path(@post.user.id) do %>
              <h6 class="text-white"><%= @post.user.name %></h6>
            <% end %>
            <%= link_to post_path(@post.id) do %>
              <p class="fs-6-50 text-white"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(@post.created_at) %>前</p>
            <% end %>
            <% if @post.user == current_user %>
              <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-info ms-auto" %>
              <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
            <% end %>
          </div>
          <%= link_to post_path(@post.id) do %>
            <div class="card-body">
              <p class="card-text text-dark"><strong>日付:</strong> <%= @post.fitness_date %></p>
              <p class="card-text text-dark"><strong>メニュー:</strong> <%= @post.menu %></p>
              <p class="card-text text-dark"><strong>感想・メモ:</strong> <%= @post.body %></p>
              <% if @post.image.attached? %>
                <%= image_tag @post.get_image(200,200), class:"img-fluid object-fit-cover rounded-4 mx-auto d-block shadow-sm" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>