<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <h2 class="font-weight-bold mb-4">プロフィール</h2>
      <div class="card-list-container">
        <div class="card border border-info rounded-2 shadow-lg mb-4">
          <div class="card-body">
            <%= image_tag @user.get_profile_image(200,200),
            class:"rounded-circle img-fluid object-fit-cover mx-auto d-block shadow-sm mt-3" %>
            <h6 class="text-center py-4 border-bottom mx-auto d-block"><strong><%= @user.name %></strong></h6>
            <p class="card-text text-center py-3"><%= @user.status_message %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <%= link_to '削除', admin_user_path(@user), class: "btn btn-outline-danger btn-block", method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </div>
    </div>
    <div class="col-md-7 offset-md-1">
      <h2 class="font-weight-bold mb-4">投稿一覧</h2>
      <div class="card-list-container">
        <% @posts.each do |post| %>
            <div class="card shadow-lg border border-emerald rounded-2 mb-4">
              <div class="card-header d-flex align-items-center gap-3">
                <%= image_tag(post.user.get_profile_image(30,30), class:"rounded-circle") %>
                <h6 class="text-dark"><%= post.user.name %></h6>
                <p class="fs-6-50 text-dark"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前</p>
              </div>
              <div class="card-body">
                <p class="card-text text-dark border-bottom"><strong>日付:</strong> <%= post.fitness_date.strftime("%Y年%m月%d日") %></p>
                <p class="card-text text-dark border-bottom"><strong>メニュー:</strong> <%= post.menu %></p>
                <p class="card-text text-dark border-bottom"><strong>感想・メモ:</strong> <%= post.body %></p>
                <% if post.image.attached? %>
                  <%= image_tag post.get_image(200,200), class:"img-fluid object-fit-cover rounded-4 mx-auto mb-3 d-block shadow-sm" %>
                <% end %>
                <p class="card-text text-dark border-bottom mb-1"><i class="fa-regular fa-comment"></i>コメント数 <%= post.post_comments.count %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>