<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <%= render "profile", user: @user %>
      <%= render "public/posts/new_post", post: @post %>
    </div>
    <div class="col-md-8">
      <div class="row border-bottom mb-2">
        <div class="col-4">
          <%= link_to posts_path do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 text-center text-secondary">投稿一覧</h3>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to follow_feed_path do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 text-center text-secondary">フォロー中</h3>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to favorite_posts_user_path(current_user.id) do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 border-bottom border-5 border-success text-success text-center">いいね</h3>
          <% end %>
        </div>
      </div>
      <div class="card-list-container">
        <% @favorite_posts.each do |post| %>
          <div class="card shadow-lg border border-emerald rounded-2 mb-4">
            <div class="card-header d-flex align-items-center gap-3">
              <%= link_to image_tag(post.user.get_profile_image(30,30), class:"rounded-circle"), user_path(post.user.id) %>
              <%= link_to user_path(post.user.id) do %>
                <h6 class="text-dark"><%= post.user.name %></h6>
              <% end %>
              <%= link_to post_path(post.id) do %>
                <p class="fs-6-50 text-dark"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前</p>
              <% end %>
            </div>
            <%= link_to post_path(post.id) do %>
              <div class="card-body">
                <p class="card-text text-dark border-bottom"><strong>日付:</strong> <%= post.fitness_date.strftime("%Y年%m月%d日") %></p>
                <p class="card-text text-dark border-bottom"><strong>メニュー:</strong> <%= post.menu %></p>
                <p class="card-text text-dark border-bottom"><strong>感想・メモ:</strong> <%= post.body %></p>
                <% if post.image.attached? %>
                  <%= image_tag post.get_image(200,200), class:"img-fluid object-fit-cover rounded-4 mx-auto d-block shadow-sm" %>
                <% end %>
                <div class="d-flex align-items-center gap-3 border-bottom pt-3">
                  <p class="card-text text-dark"><i class="fa-regular fa-comment"></i>コメント数 <%= post.post_comments.count %></p>
                  <div id="favorite_buttons_<%= post.id %>">
                    <%= render "public/favorites/favorite", post: post %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>