<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <%= render "profile", user: @user %>
      <%= render "public/posts/new_post", post: @post %>
    </div>
    <div class="col-md-8">
      <div class="row border-bottom mb-2">
        <div class="col-4">
          <%= link_to posts_path do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 text-center text-secondary">投稿一覧</h3>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to follow_feed_path do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 text-center text-secondary">フォロー中</h3>
          <% end %>
        </div>
        <div class="col-4">
          <%= link_to favorite_posts_user_path(current_user.id) do %>
            <h3 class="font-weight-bold w-75 mx-auto mb-2 border-bottom border-5 border-success text-success text-center">いいね</h3>
          <% end %>
        </div>
      </div>
      <%= render "public/posts/posts_list", posts: @favorite_posts %>
    </div>
  </div>
</div>